.changeStatus {
  input {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    outline-style: none;
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 400px;
  }
}
.staticStatus {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  &.hoverEffect {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}