  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .banner {
    height: 180px;
    min-height: 180px;
    overflow: hidden;
    border-radius: 6px;
  }
  .description {
    flex: 1 1 auto;
  }
