.formControl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &.error {
    input[type="text"],
    textarea {
      border-color: red;
    }
    span {
      opacity: 1;
    }
  }
  span {
    color: red;
    opacity: 0;
  }
}