.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 10px 0;
  overflow: hidden;
  &>div:first-child {
    height: calc(100% - 60px);
    min-height: calc(100% - 60px);
  }
}

.users {
  height: calc(100% - 60px);
  min-height: calc(100% - 60px);
  padding: 0 2px 0 0;
  margin-right: 2px;
  border-radius: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
}