.container {
  position: fixed;
  top: 90px;
  // grid-area: n;
  height: calc(100vh - 90px);
  width: 250px;
  background: #fdd949;
  padding: 40px 0 20px 40px;
  border-radius: 0 6px 0 0;
}

.navLink {
  display: block;
  font-size: 18px;
  color: white;
  font-weight: 700;
  padding: 5px 0 5px 10px;
  margin: 10px 0;
  &.active{
    background: white;
    color: #151515;
  }
  a {
    text-decoration: none;
  }
  &:hover {
    color: #477895;
    text-decoration: none;
  }
}