.banner {
  height: 180px;
  min-height: 180px;
  overflow: hidden;
  border-radius: 6px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 20px;
  min-height: 250px;

  &__account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin-right: 10px;

    &__details {
      margin-top: 10px;
    }

    &__name {
      font-size: 18px;
      font-weight: 600;
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  &__description {
    display: flex;
    flex: 1 1 auto;
    width: calc(100% - 230px);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 0 230px;
  }

  &__editButton {
    display: block;
    width: 100px;
    min-width: 100px;
    height: auto;
    border: 2px solid #fdd949;
    border-radius: 6px;
    background: #fff5d1;
    font-size: 16px;
    padding: 6px 12px;
    color: #ccab05;

    &:hover {
      background: #fdd949;
      color: #ffffff;
      outline: none;
    }
  }

  &__contacts {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > span {
      margin-right: 10px;
    }
  }
}

.editProfilePopup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &.open {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
}